*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#root button{
    border:none;
    background-color: inherit;
}

#root button i{
    font-size: 5rem;
}
#root button i:active{
    /* opacity: 0.6; */
    color: blue;
}
.container{
    width: 60%;
    /* margin:auto; */
    /* display: inline-block; */
    /* height: 800px; */
    /* border: 1px solid red; */
}

.container img{
    width: 100%;
    border-radius: 20px;
}